@import './variables.scss';

.a-open-menu {
	display: block !important;
}



@keyframes change-about-icon {
	from {
		content: '\f05a';
	}
	
	40% {
		content: '\f05a';
	}
	
	50% {
		content: '\f059';
	}
	
	to {
		content: '\f059';
	}
}

@keyframes lightbulb-click {
	from {
		transform: translate(0, 0);
	}
	
	50% {
		transform: translate(0, -5px);
	}

	75% {
		transform: translate(0, 10px);
	}
	
	to {
		transform: translate(0, 0);
	}
}

@keyframes shimmy {
	from {
		transform: rotateZ(0);
	}
	
	20% {
		transform: rotateZ(-25deg);
	}

	50% {
		transform: rotateZ(25deg);
	}
	
	80% {
		transform: rotateZ(-25deg);
	}
	
	to {
		transform: rotateZ(0);
	}
}

@keyframes change-portfolio-icon {
	from {
		content: '\f466';
	}
	
	40% {
		content: '\f466';
	}
	
	50% {
		content: '\f49e';
	}
	
	to {
		content: '\f49e';
	}
}

@keyframes change-resume-icon {
	from {
		content: '\f508';
	}
	
	40% {
		content: '\f508';
	}
	
	50% {
		content: '\f15b';
	}
	
	to {
		content: '\f15b';
	}
}

.a-rainbow-party:hover { animation: rainbow 2s ease infinite; }
@keyframes rainbow {
	from {
		color: red;
	}
	9% {
		color: orange;
	}
	27% {
		color: yellow;
	}
	43% {
		color: green;
	}
	59% {
		color: blue;
	}
	75% {
		color: indigo;
	}
	91% {
		color: violet;
	}
	to {
		color: red;
	}
}

@keyframes spin {
	from {
		transform: rotateZ(0);
	}
	
	20% {
		transform: rotateZ(-25deg);
	}

	70% {
		transform: rotateZ(385deg);
	}
	
	to {
		transform: rotateZ(360deg);
	}
}

@keyframes up-down {
	from {
		transform: translate3d(0,0,0);
	}

	50% {
		transform: translate3d(0,20px,0);
	}

	to {
		transform: translate3d(0,0,0);
	}
}

