@import './variables.scss';

body,
html {
	height: 100%;
	min-height: 100%;
	min-width: 100%;
	width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}


.body {
	background: $color-lighter-grey;
	font-family: $font-montserrat;
	font-weight: 400;

	&.is-dark-mode {
		background: $color-darker-grey;
	}
}

.desktop-only {
	@media #{$medium-screen} {
		display: none;
	}
}



.c-skip-link {
	background-color: $color-lighter-grey;
	border: 3px solid $color-black;
	border-radius: 0 0 0.5em 0.5em;
	border-top: none;
	color: $color-black;
	left: 1em;
	padding: 1em;
	position: absolute;
	transform: translateY(-100%);
	transition: transform 0.5s;
	z-index: 10000;

	&:focus {
		transform: translateY(0%);
	}
}



.l-container {
	margin: 0 auto;
	max-width: 1400px;
	width: 90%;
}

.l-full-height {
	height: 100%;
}

.c-main-content {
	display: block;
	height: 100%;
	width: 100%;
}

.is-gamified {
	.c-main-content {
		display: none;
	}
}
