@import './variables.scss';

body,
html {
	height: 100%;
	min-height: 100%;
	min-width: 100%;
	width: 100%;
}

body {
	background: $color-lighter-grey;
	font-family: $font-montserrat;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}



.desktop-only {
	@media #{$medium-screen} {
		display: none;
	}
}





.l-container {
	margin: 0 auto;
	max-width: 1400px;
	width: 90%;
}

.l-full-height {
	height: 100%;
}
