@import './variables.scss';

.c-header {
	width: 100%;
	
	&__button {
		background-color: transparent;
		border: none;
		cursor: pointer;
		font-family: $font-montserrat--bold;
		font-size: 1.2em;
		font-weight: 700;
		padding: 0;
		
		&--nav-toggler {
			&:hover {
				.fa-bars {
					animation: shimmy 0.5s linear;
				}
			}
		}
		
		&--utility-nav {
			font-size: 1.6em;
			padding: 0 0 0.5em 0;
			width: 50%;
			
			&:active {
				.fa-lightbulb {
					animation: lightbulb-click 0.5s linear;
				}
			}
			
			&:hover {
				.fas {
					animation: shimmy 0.5s linear;
				}
			}
		}
	}
	
	&__container {
		&--logo-bar {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		
		&--main-nav {
			align-items: flex-start;
			display: flex;
			flex-direction: column;
			
			@media #{$medium-screen} {
				flex-direction: row;
				justify-content: space-evenly;
			}
		}
		
		&--utility-nav {
			align-items: center;
			display: flex;
			justify-content: space-between;
			
			@media #{$x-small-screen} {
				margin-right: 0;
				max-width: 400px;
			}
		}
	}
	
	&__icon {
		&--main-nav {
			text-align: center;
			width: 1.5em;
		}
		
		&--nav-toggler {
			padding: 0 0.5em;
			width: 1.5em;
		}
		
		&--utility-nav {
			display: block;
			font-size: 1.4em;
			padding: 0.5em 0;
			
			&:hover:before {
				text-decoration: none;
			}
		}
	}
	
	&__link {
		color: $color-black;
		text-decoration: none;
		
		&--home {
			align-items: center;
			display: flex;
		}
		
		&--main-nav {
			font-size: 1.4em;
			
			&:not(:last-child) {
				margin-bottom: 1em;
				
				@media #{$medium-screen} {
					margin-bottom: 0;
				}
			}
			
			&:hover {
				text-decoration: underline;
				
				.fa-box {
					animation: spin 1s forwards;
					
					&:before {
						animation: change-portfolio-icon 1s forwards;
					}
				}

				.fa-info-circle {
					animation: spin 1s forwards;
					
					&:before {
						animation: change-about-icon 1s forwards;
					}
				}

				.fa-user-tie {
					animation: spin 1s forwards;
					
					&:before {
						animation: change-resume-icon 1s forwards;
					}
				}
			}
		}
	}
	
	&__logo {
		height: 2.5em;
		image-rendering: pixelated;
	}
	
	&__logo-bar {
		background-color: $color-light-blue;
		box-sizing: border-box;
		padding: 1em 0;
		width: 100%;
	}
	
	&__main-nav {
		font-family: $font-montserrat--bold;
		font-size: 1.4em;
		padding: 2em 0;
	}
	
	&__nav-drawer {
		background-color: $color-grey--light;
		display: none;
	}
	
	&__title {
		display: none;
		
		@media #{$x-small-screen} {
			display: block;
			font-family: $font-emulogic;
			font-size: 1.1em;
			margin: 0 0 0 0.5em;
		}
	}
	
	&__utility-nav {
		border-bottom: 3px solid $color-grey;
		font-size: 0.8em;
		padding: 1em 0;
	}
}
