@import './reset.scss';

@import './pressStartP2.scss';

@import './super-mario-bros.scss';

@charset "utf-8";
/* CSS Document */

body, html { height: 100%; width: 100%; }

body {
	background-color: #4a4a4a;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}



footer {
	height: 75px;
}
	footer p {
		font-family: 'Press Start 2P';
		margin: 0;
		padding-top: 9px;
		text-align: center;
	}

/*		IDs			*/



/*		Classes		*/

.bgFade {
	background: transparent url(../src/images/bgFade.png) repeat-x left top;
	background-size: auto 100%;
	position: relative;
	width: 100%;
	z-index: 1000;
}



.concrete {
	background-image: url(../src/images/portalWall.png);
}

.content {
	background-color: #999;
	clear: both;
	margin: 0 auto;
	min-width: 900px;
	padding: 25px;
	position: relative;
	width: 1000px;
}
	.content h2 {
		font-family: 'Press Start 2P';
		font-size: 1.4em;
		margin: 0;
	}
	.content p {
		font-size: .9em;
		line-height: 20px;
	}
	.content strong {
		font-size: 1em;
	}

.dirt {
	background-image: url(../src/images/dirt.png);
}

.indent {
	padding-left: 15px;
}

.inventory {
	background: url(../src/images/inventory.png) no-repeat left top/800px;
	height: 500px;
	margin: 0 auto;
	width: 800px;
}

.offset { }

