@import './variables.scss';

.c-main-content {
	display: block;
	height: 100%;
	width: 100%;
	
	&__content-block {
		padding: 5em 0;
	}
	
	&__intro {
		background: $color-light-blue;
		padding: 12em 0;

		&-image {
			display: block;
			margin: 0 auto 1em auto;
		}

		&-subtitle {
			font-size: 1.2em;
			margin: 0;
			text-align: center;
		}
		
		&-title {
			font-family: $font-montserrat--bold;
			font-size: 2.5em;
			font-weight: 500;
			margin-bottom: 0.5em;
			text-align: center;
		}
	}
}

.is-dark-mode {
	.c-main-content {
		&__intro {
			background-color: $color-dark-blue;
			color: $color-light-grey;
		}
	}
}

.is-gamified {
	.c-main-content {
		display: none;
	}
}
