@charset "utf-8";
/* Start imports */

@import '../node_modules/normalize.css/normalize.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

@import './fonts.scss';

@import './global.scss';

@import './header.scss';


/*@import './super-mario-bros.scss';
@import './majoras-mask.scss';
@import './minecraft.scss';

.concrete {
	background-image: url(../src/images/portalWall.png);
}

.content {
	background-color: #999;
	clear: both;
	margin: 0 auto;
	min-width: 900px;
	padding: 25px;
	position: relative;
	width: 1000px;
}

.dirt {
	background-image: url(../src/images/dirt.png);
}

.inventory {
	background: url(../src/images/inventory.png) no-repeat left top/800px;
	height: 500px;
	margin: 0 auto;
	width: 800px;
}*/
