@import './variables.scss';

.majoras-mask {
	display: inline-block;
	font-family: $font-pt-sans;
	overflow: hidden;
	
	&__carousel {
		border-radius: 5px;
		height: 100vh;
		list-style: none;
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: relative;
		text-align: center;
		width: 100vw;
		
		&__activator {
			/*display: none;*/
			
			&:nth-of-type(1) {
				&:checked {
					& ~ .majoras-mask__carousel__track {
						-webkit-transform: translateX(0%);
						transform: translateX(0%);
					}
					
					& ~ .majoras-mask__carousel__slide:nth-of-type(1) {
						transition: opacity 0.5s, -webkit-transform 0.5s;
						transition: opacity 0.5s, transform 0.5s;
						transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
						top: 0;
						left: 0;
						right: 0;
						opacity: 1;
						-webkit-transform: scale(1);
						transform: scale(1);
					}
					
					& ~ .majoras-mask__carousel__controls:nth-of-type(1) {
						display: block;
						opacity: 1;
					}
					
					& ~ .majoras-mask__carousel__indicators .majoras-mask__carousel__indicator:nth-of-type(1) {
						opacity: 1;
					}
				}
				
				&:focus {
					& ~ .majoras-mask__carousel__indicators .majoras-mask__carousel__indicator:nth-of-type(1) {
						border: 3px solid $white;
					}
				}
			}
			
			&:nth-of-type(2) {
				&:checked {
					& ~ .majoras-mask__carousel__track {
						-webkit-transform: translateX(-100%);
						transform: translateX(-100%);
					}
					
					& ~ .majoras-mask__carousel__slide:nth-of-type(2) {
						transition: opacity 0.5s, -webkit-transform 0.5s;
						transition: opacity 0.5s, transform 0.5s;
						transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
						top: 0;
						left: 0;
						right: 0;
						opacity: 1;
						-webkit-transform: scale(1);
						transform: scale(1);
					}
					
					& ~ .majoras-mask__carousel__controls:nth-of-type(2) {
						display: block;
						opacity: 1;
					}
					
					& ~ .majoras-mask__carousel__indicators .majoras-mask__carousel__indicator:nth-of-type(2) {
						opacity: 1;
					}
				}
				
				&:focus {
					& ~ .majoras-mask__carousel__indicators .majoras-mask__carousel__indicator:nth-of-type(2) {
						border: 3px solid $white;
					}
				}
			}
			
			&:nth-of-type(3) {
				&:checked {
					& ~ .majoras-mask__carousel__track {
						-webkit-transform: translateX(-200%);
						transform: translateX(-200%);
					}
					
					& ~ .majoras-mask__carousel__slide:nth-of-type(3) {
						transition: opacity 0.5s, -webkit-transform 0.5s;
						transition: opacity 0.5s, transform 0.5s;
						transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
						top: 0;
						left: 0;
						right: 0;
						opacity: 1;
						-webkit-transform: scale(1);
						transform: scale(1);
					}
					
					& ~ .majoras-mask__carousel__controls:nth-of-type(3) {
						display: block;
						opacity: 1;
					}
					
					& ~ .majoras-mask__carousel__indicators .majoras-mask__carousel__indicator:nth-of-type(3) {
						opacity: 1;
					}
				}
				
				&:focus {
					& ~ .majoras-mask__carousel__indicators .majoras-mask__carousel__indicator:nth-of-type(3) {
						border: 3px solid $white;
					}
				}
			}
			
			&:nth-of-type(4) {
				&:checked {
					& ~ .majoras-mask__carousel__track {
						-webkit-transform: translateX(-300%);
						transform: translateX(-300%);
					}
					
					& ~ .majoras-mask__carousel__slide:nth-of-type(4) {
						transition: opacity 0.5s, -webkit-transform 0.5s;
						transition: opacity 0.5s, transform 0.5s;
						transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
						top: 0;
						left: 0;
						right: 0;
						opacity: 1;
						-webkit-transform: scale(1);
						transform: scale(1);
					}
					
					& ~ .majoras-mask__carousel__controls:nth-of-type(4) {
						display: block;
						opacity: 1;
					}
					
					& ~ .majoras-mask__carousel__indicators .majoras-mask__carousel__indicator:nth-of-type(4) {
						opacity: 1;
					}
				}
				
				&:focus {
					& ~ .majoras-mask__carousel__indicators .majoras-mask__carousel__indicator:nth-of-type(4) {
						border: 3px solid $white;
					}
				}
			}
			
			&:nth-of-type(5) {
				&:checked {
					& ~ .majoras-mask__carousel__track {
						-webkit-transform: translateX(-400%);
						transform: translateX(-400%);
					}
					
					& ~ .majoras-mask__carousel__slide:nth-of-type(5) {
						transition: opacity 0.5s, -webkit-transform 0.5s;
						transition: opacity 0.5s, transform 0.5s;
						transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
						top: 0;
						left: 0;
						right: 0;
						opacity: 1;
						-webkit-transform: scale(1);
						transform: scale(1);
					}
					
					& ~ .majoras-mask__carousel__controls:nth-of-type(5) {
						display: block;
						opacity: 1;
					}
					
					& ~ .majoras-mask__carousel__indicators .majoras-mask__carousel__indicator:nth-of-type(5) {
						opacity: 1;
					}
				}
				
				&:focus {
					& ~ .majoras-mask__carousel__indicators .majoras-mask__carousel__indicator:nth-of-type(5) {
						border: 3px solid $white;
					}
				}
			}
		}
		
		&__control {
			border-color: #fafafa;
			border-style: solid;
			border-width: 5px 5px 0 0;
			cursor: pointer;
			display: block;
			height: 30px;
			margin-top: -15px;
			opacity: 0.35;
			outline: 0;
			position: absolute;
			top: 50%;
			width: 30px;
			z-index: 3;
			
			&:hover {
				opacity: 1;
			}
			
			&--backward {
				left: 10px;
				-webkit-transform: rotate(-135deg);
				transform: rotate(-135deg);
			}
			
			&--forward {
				right: 10px;
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
			}
		}
		
		&__controls {
			display: none;
		}
		
		&__indicator {
			background-color: #fafafa;
			border-radius: 100%;
			cursor: pointer;
			display: inline-block;
			height: 30px;
			margin: 0 2.5px 0 2.5px;
			opacity: 0.35;
			width: 30px;
			z-index: 2;
			
			&:hover {
				opacity: 0.75;
			}
			
			&:nth-of-type(1) {
				background-image: url("https://unsplash.it/300?random");
				background-size: cover;
				background-position: center;
			}
			
			&:nth-of-type(2) {
				background-image: url("https://unsplash.it/600?random");
				background-size: cover;
				background-position: center;
			}
			
			&:nth-of-type(3) {
				background-image: url("https://unsplash.it/900?random");
				background-size: cover;
				background-position: center;
			}
			
			&:nth-of-type(4) {
				background-image: url("https://unsplash.it/1200?random");
				background-size: cover;
				background-position: center;
			}
			
			&:nth-of-type(5) {
				background-image: url("https://unsplash.it/1500?random");
				background-size: cover;
				background-position: center;
			}
		}
		
		&__indicators {
			position: absolute;
			bottom: 20px;
			width: 100%;
			text-align: center;
		}
		
		&__slide {
			display: block;
			height: 100%;
			left: 0;
			opacity: 1;
			overflow: hidden;
			position: absolute;
			right: 0;
			top: 0;
			
			&:nth-of-type(1) {
				-webkit-transform: translateX(0%);
				transform: translateX(0%);
				
				background-image: url("https://unsplash.it/300?random");
				background-size: cover;
				background-position: center;
			}
			
			&:nth-of-type(2) {
				-webkit-transform: translateX(100%);
				transform: translateX(100%);
				
				background-image: url("https://unsplash.it/600?random");
				background-size: cover;
				background-position: center;
			}
			
			&:nth-of-type(3) {
				-webkit-transform: translateX(200%);
				transform: translateX(200%);
				
				background-image: url("https://unsplash.it/900?random");
				background-size: cover;
				background-position: center;
			}
			
			&:nth-of-type(4) {
				-webkit-transform: translateX(300%);
				transform: translateX(300%);
				
				background-image: url("https://unsplash.it/1200?random");
				background-size: cover;
				background-position: center;
			}
			
			&:nth-of-type(5) {
				-webkit-transform: translateX(400%);
				transform: translateX(400%);
				
				background-image: url("https://unsplash.it/1500?random");
				background-size: cover;
				background-position: center;
			}
		}
		
		&__track {
			bottom: 0;
			left: 0;
			margin: 0;
			padding: 0;
			position: absolute;
			right: 0;
			top: 0;
			transition: -webkit-transform 0.5s ease 0s;
			transition: transform 0.5s ease 0s;
			transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
		}
	}
}






@import url("https://fonts.googleapis.com/css?family=Roboto:900");


html,
body {
  background-color: #111;
  text-align: center;
  color: #fff;
}


h1 {
  font-size: 50px;
  line-height: 50px;
  color: #fafafa;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: -25px;
}
