@import './variables.scss';

.minecraft {
	background-image: url('../src/images/under-construction.png');
	background-position: center;
	background-size: cover;
	font-family: $font-minecraft;
	
	&__project {
		border: 4px solid transparent;
		display: inline-block;
		height: 72px;
		left: 24px;
		position: relative;
		top: 340px;
		width: 72px;
		
		@media #{$small-screen} {
			border: none;
			display: block;
			height: auto;
			left: unset;
			margin-bottom: 25px;
			text-decoration: none;
			top: unset;
			width: 100%;
		}
		
		&:hover, &:focus {
			border: 4px solid $white;
			outline: none;
			
			@media #{$small-screen} {
				border: none;
			}
			
			.toggle-hidden {
				display: block;
			}
		}
		
		&__details {
			background-color: #1e0f1efa;
			border: 4px groove #2e0a65;
			border-radius: 5px;
			display: none;
			margin: -25px 35px;
			padding: 10px;
			position: absolute;
			width: 400px;
			z-index: 100;
			
			@media #{$small-screen} {
				display: block;
				margin: 0;
				position: relative;
				width: 100%;
			}
			
			&__detail {
				color: #5555ff;
				font-size: 2.4em;
				font-style: italic;
				margin: 0;
				text-shadow: 2px 2px #1e0f1e;
				
				@media #{$small-screen} {
					font-size: 1.8em;
				}
				
				&--grey {
					color: $grey;
					text-shadow: 2px 2px $dark-grey;
				}
				
				&--white {
					color: $white;
					text-shadow: 2px 2px $dark-grey;
				}
			}
			
			&__name {
				color: $white;
				font-size: 2.4em;
				font-weight: 400;
				margin: 0 0 10px;
				text-shadow: 2px 2px $grey;
			}
		}
		
		&__image {
			width: 100%;
			
			@media #{$small-screen} {
				border: 8px ridge $grey;
				display: block;
			}
		}
	}
	
	&__projects {
		max-height: 750px;
		
		@media #{$small-screen} {
			padding: 0 25px;
		}
		
		&__container {
			background-image: url('../src/images/minecraft-inventory.png');
			height: 656px;
			margin: 0 auto;
			width: 696px;
			
			@media #{$small-screen} {
				background-image: none;
				height: auto;
				width: 100%;
			}
		}
	}
	
	.under-construction {
		background-color: #333333cc;
		color: $white;
		font-size: 24px;
		margin: 30px;
		max-width: 800px;
		padding: 15px;
		
		a {
			color: $white;
			
			&:focus,
			&:hover {
				color: $grey;
			}
			
		}
		
		p {
			margin: 0;
		}
		
		@media #{$medium-screen} {
			
		}
		
		@media #{$small-screen} {
			
		}
	}
}
