@import './variables.scss';

.c-super-mario-bros {
	background-color: $color-super-mario-bros-blue;
	color: $color-black;
	display: none;
	flex-direction: column;
	font-family: $font-emulogic;
	min-height: 100vh;
	padding: 4.5em 0 8em 0;
	position: relative;
	width: 100%;

	@media #{$x-small-screen} {
		background-image: url('../images/headerBG.png');
		background-position: 100% 40%;
		background-repeat: repeat-x;
		padding-bottom: 0;
	}

	@media #{$medium-screen} {
		flex-direction: unset;
	}

	@media #{$large-screen} {
		background-position: left 50%;
	}
	
	&__bricks {
		background-image: url('../images/brick.png');
		background-position: left top;
		background-repeat: repeat;
		background-size: 2.5em;
		bottom: 0;
		height: 3.5em;
		position: absolute;
		width: 100%;
		
		@media #{$x-small-screen} {
			background-size: auto;
			height: 6em;
		}
	}
	
	&__lakitu-henry {
		display: none;

		@media #{$x-small-screen} {
			animation: 1s linear 0s infinite normal both running up-down;
			display: block;
			margin: 1em auto;
			width: 10em;
		}

		@media #{$small-screen} {
			margin: 0 auto;
			width: 11em;
		}

		@media #{$medium-screen} {
			margin: 0 4em 0 auto;
		}

		@media #{$large-screen} {
			left: 5%;
			margin: 0;
			position: absolute;
		}

		&__cloud {
			width: 10em;

			@media #{$small-screen} {
				width: 11em;
			}
		}
		
		&__control {
			display: none;
			font-size: 1em;
			font-weight: 400;
			text-align: center;

			&:last-child {
				display: block;
			}

			@media #{$medium-screen} {
				display: block;
				margin: 0 auto 15px auto;
				
				&:last-child {
					margin: 0 auto;
				}
			}
		}
		
		&__instructions {
			background-color: $color-white;
			border: 5px solid $color-black;
			box-sizing: border-box;
			margin-top: -5px;
			padding: 15px;
			position: relative;
			width: 100%;
		}
	}
	
	&__link {
		display: block;
		line-height: 3em;
		margin-left: 2em;
		text-decoration: none;

		&:last-child {
			margin-bottom: 0;
		}
		
		@media #{$x-small-screen} {
			margin-left: 0;
		}

		@media #{$medium-screen} {
			display: inline-block;
			margin-left: 150px;

			&:first-child {
				margin-left: 0;
			}
		}
		
		&:focus,
		&:hover {
			outline: none;
			text-decoration: underline;
			
			&::before {
				animation-duration: 1.0s;
				animation-iteration-count: infinite;
				animation-name: up-down;
				animation-timing-function: linear;
				color: $color-black;
				content: $down-arrow;
				display: block;
				font-family: $font-font-awesome;
				font-size: 35px;
				font-style: normal;
				font-variant: normal;
				font-weight: 900;
				position: absolute;
				text-align: center;
				text-rendering: auto;
				top: -75px;
				transform-origin: bottom center;
				width: 100%;
				-webkit-font-smoothing: antialiased;
			}
		}
		
		&__image {
			display: none;

			@media #{$x-small-screen} {
				display: block;
				margin: 0 auto;
			}
		}
		
		&__text {
			color: $color-black;
			display: block;
			font-size: 1.2em;
			
			@media #{$x-small-screen} {
				margin-bottom: 2em;

				&::after {
					content: $down-arrow;
					display: block;
					font-family: $font-font-awesome;
					font-size: 1.2em;
					font-weight: 600;
					line-height: normal;
				}
			}

			@media #{$medium-screen} {
				display: none;
			}
		}
	}
	
	&__link-list {
		padding: 1em 0;

		@media #{$x-small-screen} {
			bottom: 6em;
			padding: 0;
			position: absolute;
			text-align: center;
			width: 100%;
		}
	}

	&__link-list-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 12em;

		@media #{$x-small-screen} {
			flex-direction: row;
			min-height: unset;
		}

		@media #{$small-screen} {
			max-width: 35em;
		}

		@media #{$medium-screen} {
			display: block;
			margin-left: calc(50% - 200px);
			max-width: unset;
			text-align: left;
		}
	}
	
	&__logo {
		margin: 0;
		width: 100%;

		@media #{$x-small-screen} {
			display: block;
			margin: 0 auto;
			width: 75%;
		}

		@media #{$small-screen} {
			margin: 0;
			width: 60%;
		}

		@media #{$large-screen} {
			max-width: 750px;
			position: relative;
			top: 8%;
			width: 25%;
		}
	}
	
	&__name {
		margin: 0;
		text-align: center;
		min-width: 96px;
	}
	
	&__overlay {
		padding: 1em 0;
		width: 100%;

		@media #{$x-small-screen} {
			padding-bottom: 24em;
		}

		@media #{$small-screen} {
			padding: 2em 0 24em 0;
		}

		@media #{$medium-screen} {
			position: absolute;
			width: auto;
		}
	}

	&__overlay-container {
		@media #{$small-screen} {
			align-items: center;
			display: flex;
			flex-direction: row;
		}
	}

	&__page-list {
		display: none;

		@media #{$medium-screen} {
			bottom: 16em;
			display: block;
			padding: 0;
			position: absolute;
			text-align: center;
			width: 100%;
		}
	}

	&__page-list-container {
		display: block;
		margin-left: calc(50% - 200px);
		max-width: unset;
		text-align: left;
	}

	&__page-name {
		display: inline-block;
		margin-left: 126px;
		min-width: 96px;
		text-align: center;

		&:first-child {
			margin-left: 0;
		}
	}
	
	&__sprite-sheet {
		background: url('../images/marioMe_sprites.png');
		background-position-x: -26em;
		background-repeat: no-repeat;
		background-size: cover;
		bottom: 3.5em;
		display: block;
		height: 3.5em;
		margin-top: 1em;
		overflow: hidden;
		position: absolute;
		width: 100%;
		
		@media #{$x-small-screen} {
			display: none;			
		}
	}
	
	&__world {
		@media #{$medium-screen} {
			height: calc(100% - 6em);
			position: relative;
			width: 100%;	
		}
	}

	&__world-container {
		display: none;

		@media #{$medium-screen} {
			display: block;
			min-height: 45em;
			width: 100%;
		}
	}
	
	img {
		image-rendering: pixelated;
	}
}

.is-gamified {
	.c-super-mario-bros {
		display: flex;
	}
}
