@charset "utf-8";

* {
	box-sizing: border-box;
}

a,
a:active,
a:visited {
	color: #444;
	text-decoration: none;
}

body {
	background-color: #fff;
	color: #444;
	display: table;
	font-family: Avenir, sans-serif;
	font-size: 14px;
	margin: 0 auto;
	max-width: 816px;
	padding: 0;
}

footer {
	background-color: #ddd;
	margin-top: 25px;
	padding: 30px;
}

header {
	background-color: #ddd;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 30px;
}

html {
	background-color: #000;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}

section {
	padding: 30px 30px 0;
	width: 100%;
}

.break {
	margin: 10px 0;
	width: 510px;
}

.contact-list {
	color: #444;
	font-size: 14px;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
}

.contact-list li {
	margin-bottom: 5px;
}

.contact-list li:last-child {
	margin-bottom: 0;
}

.expertise {
	display: flex;
}

.expertise__column {
	flex-basis: 0;
	flex-grow: 1;
	padding: 0 15px;
}

.expertise__column:first-child {
	padding-left: 0;
}

.expertise__column:last-child {
	padding-right: 0;
}

.header__title {
	display: block;
	padding-top: 5px;
}

.header__contact {
	display: block;
	flex: 1;
}

.job-list {
	margin: 0;
	padding: 0;
}

.job {
	display: flex;
	flex-direction: row;
	margin: 0 0 15px;
}

.job:last-child {
	margin: 0;
}

.job p {
	margin: 0;
}

.job__time {
	width: 100px;
}

.job__details {
	flex: 1;
}

.job__duties {
	list-style-type: disc;
	margin-top: 10px;
	padding-left: 17px;
}

.job__duties li {
	margin: 5px 0 0;
}

.profile {
	margin: 0;
}

.school {
	margin: 0;
}

.school-degree {
	font-weight: 700;
	margin: 10px 0 0;
}

.school-name {
	font-style: italic;
	margin: 0;
}

.skills-list {
	margin: 0;
	padding: 0;
}

.skills-list li {
	border: 1px solid #444;
	border-radius: 5px;
	display: inline-block;
	margin-bottom: 5px;
	padding: 3px;
}

.title {
	font-size: 32px;
	font-weight: 400;
	line-height: 32px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

.title--expertise {
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
	margin-bottom: 10px;
	text-transform: none;
}

.title--section {
	border-bottom: 1px solid #333;
	color: #333;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 18px;
	margin: 0 0 10px;
	padding-bottom: 4px;
}








