@import '../variables.scss';

.c-context {
	margin-bottom: 3em;

	&__description {

	}

	&__heading {
		font-size: 2em;
		margin-bottom: 0.5em;
	}
}

.is-dark-mode {
	.c-context {
		&__description {
			color: $color-light-grey;
		}

		&__heading {
			color: $color-light-grey;
		}
	}
}
