@import '../variables.scss';

.c-menu-card {
	padding: 1em 0;
	
	&:not(:last-child) {
		margin-bottom: 2em;
	}
	
	@media #{$medium-screen} {
		&:focus,
		&:hover {
			h2 {
				letter-spacing: 0.5em;
				text-decoration: underline;
				transition: letter-spacing 0.5s ease;
			}
			
			p {
				opacity: 1;
				transition: opacity 1s ease;
			}
		}
	}
	
	&__details {
		color: $color-black;
		margin: 0;
		
		@media #{$medium-screen} {
			opacity: 0;
		}
	}
	
	&__link {
		text-decoration: none;
	}
	
	&__title {
		color: $color-black;
		font-family: $font-montserrat--bold;
		margin-bottom: 0.5em;
		
		&:focus,
		&:hover {
			text-decoration: underline;
		}
		
		@media #{$medium-screen} {
			letter-spacing: normal;
			transition: letter-spacing 0.5s ease;
		}
	}	
}
