@import '../variables.scss';

.c-menu {
	&__card {
		background-color: $color-light-grey;
		display: block;
		height: 7.5em;
		overflow: hidden;
		padding: 1em;
		position: relative;
		text-decoration: none;
		
		&:not(:last-child) {
			margin-bottom: 2em;
		}
		
		@media #{$medium-screen} {
			&:focus,
			&:hover {
				h3 {
					letter-spacing: 0.5em;
					text-decoration: underline;
					transition: letter-spacing 0.5s ease;
				}
				
				p {
					opacity: 1;
					transition: opacity 1s ease;
				}
			}
		}
		
		&-details {
			color: $color-black;
			font-size: 1em;
			margin: 0;
			width: 75%;
			
			@media #{$medium-screen} {
				opacity: 0;
			}
		}

		&-image {
			height: 15em;
			margin-top: -2.5em;
			opacity: 25%;
			position: absolute;
			right: -6.5em;
			top: 0;
		}
		
		&-title {
			color: $color-black;
			font-family: $font-montserrat--bold;
			font-size: 1.5em;
			margin-bottom: 0.5em;
			
			&:focus,
			&:hover {
				text-decoration: underline;
			}
			
			@media #{$medium-screen} {
				letter-spacing: normal;
				transition: letter-spacing 0.5s ease;
			}
		}	
	}

	&__container {
		display: flex;
		flex-direction: column;
	}
}

.is-dark-mode {
	.c-menu {
		&__card {
			background-color: $color-dark-grey;

			&-details {
				color: $color-light-grey;
			}

			&-title {
				color: $color-light-grey;
			}
		}
	}
}
